<!DOCTYPE html>
<html >
<head>
<meta charset="ISO-8859-1">
<title>Javascript Validation Library</title>

<script src="lib/angular.min.js"></script>
<link href="lib/bootstrap.min.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<script src="./js/app.js"></script>
<script src="./js/HomeController.js"></script>
<script src="./js/HomeService.js"></script>
	
</head>

 <body ng-app="myApp"  ng-controller="HomeController">
 
     <nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	  <a class="navbar-brand" href="#">Javascript Validation Library</a>
	   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
	   <span class="sr-only">toggle navigation</span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   </button>
	 
	  </div>
	 </nav>
	<div class="alert alert-danger" ng-show="errorShow===true">
  <strong>Error!</strong><br>
  <div ng-repeat="error in errorMess">
   {{error}} <br>
  </div>
 
</div>
	
	
	
	 <div class="container">
	 
	 
	 <form type="form-horizontal" role="form" name="validationcehck">
	 <div class="form-group">
	 
	
	  
	  <div class="row">
	   <div class="form-group">
	  <div class="col-lg-2">
	  <label for="URL" class="control-label"> URL : </label>
	  </div>
	  <div class="col-lg-10">
	  <input type="text" id="URL"  ng-model="url" required />
	  </div>
	  </div>
	  </div>
	 
	  
	  <div class="row">
	  <div class="form-group">
	  <div class="col-lg-2">
	  <label for="number" class="control-label"> Number : </label>
	  </div>
	  <div class="col-lg-10">
	  <input type="text" id="number"  ng-model="number"required/>
	  </div>
	  </div>
	  </div>
	  
	  <div class="row">
	  <div class="form-group">
	  <div class="col-lg-2">
	  <label for="email" class="control-label"> Email : </label>
	  </div>
	  
	  <div class="col-lg-10">
	 <input type="text" id="email" ng-model="email" required />
	  </div>
	  </div>
	  </div>
	  
	  <div class="row">
	  <div class="form-group">
	  
	    <div class="col-lg-2">
	 <label for="phnumber" class="control-label"> US Phone Number : </label>
	 </div>
	 <div class="col-lg-10">
	  <input type="text" id="phnumber" ng-model="phnumber" required />
	  </div>
	  </div>
	  </div>
	  
	  <div class="row">
	  <div class="form-group">
	  <div class="col-lg-2">
	  <label for="zip" class="control-label"> US Zip Code : </label>
	  </div>
	  <div class="col-lg-10">
	  <input type="text" id="zip" ng-model="zipcode" required />
	  </div>
	  </div>
	  </div>
	 
	  
	  <div class="row">
	  <div class="form-group">
	  <div class="col-lg-2">
	  <label for="creditcard" class="control-label"> US Credit Card : </label>
	  </div>
	  <div class="col-lg-10">
	  <input type="text" id="creditcard" ng-model="creditcard" required />
	  </div>
	  </div>
	  </div>
	
	  
	  <button type="submit" ng-disabled="validationcehck.$invalid" class="btn btn-default" ng-click="validationCheck()">Submit </button>
	 </div>
	 
	 </form>
	   
	  
	  </div>

	 

	
 
	
	 <!--End of container -->
	 

	 
	

	 <div class="navbar navbar-inverse navbar-fixed-bottom">
	 <div class="container">
	 <div class="navbar-text pull-left">
	   <p>&copy Made by Vertika Pandey</p> 
</div>
     <div class="navbar-text pull-right">
	   <i class="fa fa-facebook"></i>
	   <i class="fa fa-twitter"></i>
       </div>	

   
	   </div>
	   
	  
	   </div>
	
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    
	
  </body>

</html>